
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 70px;
}

.footer {
    background-color: #F5F5F5;
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer .container .text-muted {
    margin: 20px 0;
}
